:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --main-color: #fcf0ed;
    --star-gold-color: #FFCE3E;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 28px;
    --header-width-search-height: calc(var(--header-height) - var(--navbar-height));
    --box-shadow: 0 1px 2px rgba(153, 153, 153, 0.2);
    --header__sort-bar-height: 46px
}

* {
    box-sizing: inherit;
    
}

html {
    /* font-size mac dinh cua trinh duyet 16px */

    /* font-size se tuong duong voi 10px */
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}



.grid__column-2 {
    width: 16.6667%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-10 {
    width: 83.3332%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-2-4 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */



.modal {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;

}

.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0 8px;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    color: var(--text-color);
    background-color: var(--white-color);
    line-height: 1.3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.auth-form__control-back:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn--with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.btn-size-s {
    height: 32px;
}

.select-input {
    position: relative;
    width: 200px;
    height: 36px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    cursor: pointer;
    border-radius: 3px;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__lable {
    font-size: 1.4rem;
}

.select-input__icon {
    position: relative;
    top: -1px;
}

.select-input__list {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 3px;
    list-style: none;
    padding: 10px 14px;
    box-shadow: var(--box-shadow);
    display: none;
    z-index: 1;
}

.select-input__list::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 100%;
    top: -4px;
    right: 0;
}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 8px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}


/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    list-style: none;
    margin: 0 8px;
}

.pagination__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: #918f91;
    min-width: 40px;
    height:  var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 3px;
    
}


.pagination-item--active .pagination__link {
    color: var(--white-color);
    background-color: var(--primary-color);
} 

.pagination-item--active .pagination__link:hover {
    background-color: #fb5533;
}